body {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}  

h2 {
    font-size: 30px; 
}

#demo  {
    font-family: system-ui;
}
img {
    width : 250px;
    height: 315px;
}

.text {
    font-family: sans-serif;
}

.musicButton {
    
}